<h1>Listing books</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>
<table>
  <tr>
    <th>Book name</th>
  </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td><br>
      <td><%= link_to 'Show', book_path(book) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @books %>

<%= link_to 'New Book', new_book_path %>