<!DOCTYPE html>
<html>
  <head>
    <title>Assosiation</title>
      <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ASSOCIATION</a>
        </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
         <listyle style="color: black;">Logged in as <strong><%= current_user.email %></strong></li>
           <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><span class="glyphicon glyphicon-log-out"></span> </li>
      
      <% else %>
          <li><span class="glyphicon glyphicon-user"><%= link_to 'SignUp', new_user_registration_path %></span></li>
          <li><span class="glyphicon glyphicon-log-in"><%= link_to 'LogIn', new_user_session_path %></span></li>
      <% end %>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <%= form_tag home_index_path, :method => 'get'  do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search books", class: 'form-control' %>
         <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-success' %>
         </span>
          <% end %>
       </div>
    </form>
  </div>
</nav> 
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

   <%= yield %>
  </body>
</html>
